{% extends '../core/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<main>
   <div class= "container">
      <h4> Login MyFirstBand </h4>
            {% include 'core/form_errors.html' with form=form %}
      <div id="user-login" class="row">
         <div class="col s12 z-depth-6 card-panel">
            <form class="login-form" method="post">
               {% csrf_token %}
               <div class="row margin">
                  <div class="input-field col s12">
                     <i class="material-icons prefix ">person_outline</i>
                     <label for="id_username" data-error="wrong" data-success="right" class="center-align custom-label"> {{ form.username.label }}</label>
                     {% render_field form.username class+="validate" %}
                  </div>
               </div>
               <div class="row margin">
                  <div class="input-field col s12">
                     <i class="material-icons prefix">lock_outline </i>
                     <label for="id_password" data-error="wrong" data-success="right" class="center-align custom-label"> {{ form.password.label }}</label>
                     {% render_field form.password class+="validate" %}
                  </div>
               </div>
               <label style='float: right;'>
               <a class='pink-text' href="{% url 'authentication:password_reset' %}"><b>Mot de pass oublié?</b></a>
               </label>
               <div class="row">
                  <div class="input-field col s12">
                     <button id=login_button' class="btn waves-effect waves-light btn col s12" type="submit">login</button>
                  </div>
               </div>
            </form>
            <div class="row">
               <div class="input-field col s6 m6 l6">
                  <p class="margin medium-small "><a href="{% url 'authentication:signup' %}?next={{ request.path|urlencode }}"  class="custom-text-link-login"><b>Créer un compte !</b></a></p>
               </div>
               <!--<div class="divider"></div>-->
               <!---->
                  <!--<p class="margin medium-small "><aclass="custom-text-link-login"><b>Se connecter avec Google</b></a></p>-->
               <!--</div>-->
               <div class="input-field col s6 m6 l6">
               <div class="btn white darken-4 col s10 ">
                     <a  href="{% url 'social:begin' 'google-oauth2' %}" style="text-transform:none">
                  <div class="left">
                  <img width="20px" alt="Google Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                     </div>
                  Login with Google
                      </a>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </div>
</main>
{% endblock %}