{% extends '../core/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block navbar %}
{% include "core/navbar.html" with title_navbar='Se connecter' %}
{% endblock %}
{% block content %}
<main>
   <div class= "container" style="margin-top:70px">


            {% include 'core/form_errors.html' with form=form %}
      <div id="user-login" class="row">
         <div class="col s12 z-depth-6 card-panel">
            <form class="login-form" method="post">
               {% csrf_token %}
               <div class="row ">
                  <div class="input-field col s12">
                     <i class="material-icons prefix ">person_outline</i>
                     <label for="id_username" data-error="wrong" data-success="right" class="center-align custom-label"> {{ form.username.label }}</label>
                     {% render_field form.username class+="validate" %}
                  </div>


                  <div class="input-field col s12">
                     <i class="material-icons prefix">lock_outline </i>
                     <label for="id_password" data-error="wrong" data-success="right" class="center-align custom-label"> {{ form.password.label }}</label>
                     {% render_field form.password class+="validate" %}
                  </div>

               <label style='float: right;'>
               <a class='pink-text' href="{% url 'authentication:password_reset' %}"><b>Mot de pass oublié?</b></a>
               </label>

                  <div class="input-field col s12">
                     <button id=login_button' class="waves-effect waves-light btn col s12 orange darken-2" type="submit">login</button>
                  </div>
               </div>
            </form>
            <div class="row">
               <div class="col s12">

            <div class="input-field ">
           <div class="waves-effect waves-light btn col s12 m6 white">
              <a href="{% url 'authentication:signup' %}?next={{ request.path|urlencode }}" class="">Créer un compte !</a>
           </div>
           </div>
               <!--<div class="row"></div>-->

               <div class="input-field ">
               <div class="btn white darken-4 col s12 m6 l6">
                     <a  href="{% url 'social:begin' 'google-oauth2' %}" style="text-transform:none" >
                 
                  <img width="20px" alt="Google Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>

                  Login with Google
                      </a>
                  </div>
               </div>
               </div>

            </div>
            </div>
         </div>
      </div>
   </div>
</main>
{% endblock %}