{% extends '../core/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<main>
   <div class="container">
   <div class="row">
   <div class="col s12  ">
      <h4>Vous avez oubliez votre mot de pass ?</h4>
      <span> Renseignez votre email pour nous permettre de le changer </span>
      <div class="col s12 z-depth-6 card-panel">
         <form method="post">
            {% csrf_token %}
            {% include 'core/form_errors.html' with form=form %}
            <div class="row margin">
               <div class="input-field col s12">
                  <i class="material-icons prefix ">person_outline</i>
                  <label for="id_email" data-error="wrong" data-success="right" class="center-align custom-label"> {{ form.email.label }}</label>
                  {% render_field form.email class+="validate" %}
               </div>
            </div>
               <div class="row">
                  <div class="input-field col s12">
                     <button id="submit-button" class="btn waves-effect waves-light btn col s12" type="submit">Envoyer</button>
                  </div>
               </div>
         </form>
            </div>

      </div>
   </div>
   </div>
</main>
{% endblock %}
