{% extends '../core/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
  <main>
  <div class="container">
    <div class="row">
        <div class="col s12  ">

    {% if validlink %}
    <h3>Changez votre mot de pass</h3>
           {% include 'core/form_errors.html' with form=form %}
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
      {{ field|add_label_class:"custom-label"  }}
      {{ field }}
      {% endfor %}
      <button id=login_button' class="btn waves-effect waves-light btn" type="submit">Change password</button>
    </form>
  {% else %}
    <p>
      Le lien de ré-initialisation est invalide, car il a certainement été déjà utilisé.
      Demandez un nouveau mot de pass.
    </p>
  {% endif %}
        </div>
    </div>
  </div>
  </main>

{% endblock %}