{% extends '../core/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<main>
  <div class="container">
    <div class="row">
        <div class="col s12  ">
  <h4>Vous avez oubliez votre mot de pass ?</h4>
          <span> Renseignez votre email pour nous permettre de le changer </span>

   {% include 'core/form_errors.html' with form=form %}

  <form method="post">
    {% csrf_token %}
      {{ form.email|add_label_class:"custom-label"  }}
    {{ form.email }}
    <button class="btn waves-effect waves-light btn" type="submit">Submit</button>
  </form>
        </div>
    </div>
</main>
{% endblock %}