{% extends '../core/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block navbar %}
{% include "core/navbar.html" with title_navbar='Création de compte' %}
{% endblock %}
{% block content %}
<main>
   <div class="container">

      <div id="register-page" class="row">
         <div class="col s12 z-depth-6 card-panel">
            <form class="register-form" method="post">
               {% include 'core/form_errors.html' with form=form %}
               {% csrf_token %}
               <div class="row margin">
                  <div class="input-field col s12">
                     <i class="material-icons prefix ">person_outline</i>
                     <label for="id_email" data-error="wrong" data-success="right" class="center-align custom-label"> {{ form.email.label }}</label>
                     {% render_field form.email class+="validate" %}
                   </div>
               </div>
               <div class="row margin">
                  <div class="input-field col s12">
                     <i class="material-icons prefix">lock_outline </i>
                     <label for="id_password1" data-error="wrong" data-success="right" class="center-align custom-label"> {{ form.password1.label }}</label>
                     {% render_field form.password1 class+="validate" %}
                  </div>
               </div>
               <div class="row margin">
                  <div class="input-field col s12">
                     <i class="material-icons prefix">lock_outline </i>
                     <label for="id_password2" data-error="wrong" data-success="right" class="center-align custom-label"> {{ form.password2.label }}</label>
                     {% render_field form.password2 class+="validate" %}
                  </div>
               </div>
                <input type="hidden" name="next" value="{{ request.GET.next }}">
               <div class="row">
                  <div class="input-field col s12">
                     <button id=sigup_button' class="btn waves-effect waves-light btn col s12 orange darken-2" type="submit">Creation de compte</button>
                  </div>
               </div>
            </form>
                  <div class="row center ">
                     <div class="col s12">
                    <a  href="{% url 'social:begin' 'google-oauth2' %}" style="text-transform:none" class="btn white darken-4 black-text" >
                  <div class="left">
                  <img width="20px" alt="Google Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                     </div>
                  Login with Google
                      </a>
                  </div>
                  </div>
                     <p class="margin center medium-small "> Déjà un compte ? <a href="{% url 'authentication:login' %}?next={{ request.path|urlencode }}" class="custom-text-link">Login</a></p>
                  </div>
               </div>

                </div>

</main>
{% endblock %}
