{% extends 'core/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block navbar %}
{% include "core/navbar.html" with title_navbar='Profil du groupe' %}
{% endblock %}


{% block content %}


<main>

    <div class="container" >
    <div class="row"></div>
    <div class="row">
      <div class="col s4 ">

             {% if object.avatar %}
             <img alt="Avatar" class="circle responsive-img" src="{{ object.avatar.url }}" />
            {% else %}
            <img alt="Avatar" class="circle responsive-img" src="{% static 'core/img/0_band.jpg' %}" />
            </br>
                <a href="{% url 'band:edit_band' band.slug %}" class="message">Enregistrez votre avatar</a>
            {% endif %}
      </div>
            <div class="col s8 center-align">
              <h4>
                {{ object.name }}
              </h4>
                 </div>
          </div>
                <p>Créer sur myFirstBand le {{ object.created_at }}</p>
            <div class="row"></div>
                <h5>Biographie</h5>

                {% if not object.bio %}
                <a href="{% url 'band:edit_band' band.slug %}" class="message">Enregistrez votre biographie</a>

                {% else %}
                <blockquote >{{ object.bio }}</blockquote>
                {% endif %}



          <h5>Localisation : </h5>
          {% if not object.town %}
          <a href="{% url 'band:edit_band' band.slug %}" class="message">Enregistrez votre localisation</a>
          {% else %}

            <span>{{object.town}} {{object.county_name}}</span>
          {% endif %}
             <div class="row"></div>
          <h5>Type et genre musical : </h5>

          {% if not object.type and not object.musical_genre %}
           <a href="{% url 'band:edit_band' band.slug %}" class="message">Enregistrez le genre musicial du groupe</a>
          {% else %}

            <span>{{object.type}} {{object.musical_genre}}</span>
          {% endif %}
  <div class="row"></div>
        <h5>Membres</h5>
<ul class="collection">



    {% for member in members %}
    <li class="collection-item avatar ">
       {% if member.musician.userprofile.avatar %}
      <img src="{{ member.musician.userprofile.avatar.url }}" alt="" class="circle">
        {% else %}
       <img src="{% static 'core/img/0.jpg' %}" alt="" class="circle">
        {% endif %}
       <a href='{% url "core:musician_profile" member.musician.userprofile.pk  %}' class="black-text"> {{ member.musician.userprofile.username }}</a>
        <p> {{ member.invite_reason }} </br>
            {{ member.date_joined }}
        </p>
    </li>
    {% endfor %}
</ul>


        {% if not object.bio or not object.type or not object.musical_genre or not object.avatar %}
<div class="row">
    <a class="waves-effect waves-light btn orange darken-2 col s12" href='{% url "band:edit_band" band.slug %}' ><i class="material-icons left">add</i>Mettre à jour le  groupe</a>
</div>
{% endif %}
 </div>
</main>


{% endblock %}