{% extends 'core/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<main>

<div class="container " xmlns="http://www.w3.org/1999/html">
   <div class="row"></div>
   <div class="row"></div>
   {% include 'core/display_messages.html' %}
<div class="row">

</div>
<div class="row valign-wrapper">


    <div class="col s12">

        <div>
             <h5> Membres du groupe </h5>
            <div class="divider"></div>
            <div class="row"></div>
            <ul class="collection with-header">
                {% for member in members %}
             <li class="collection-item avatar ">
                {% if member.musician.userprofile.avatar %}
                <img src="{{ member.musician.userprofile.avatar.url }}" alt="" class="circle">
                {% else %}
                <img src="{% static 'core/img/0.jpg' %}" alt="" class="circle">
                {% endif %}
               <span class="title">{{ member.musician.userprofile.username }}</span>
                <p> {{ member.invite_reason }} </br>
                    {{ member.date_joined }}
                <a href="{% url 'musicians:profile' member.musician.userprofile.user.pk %}" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
                {% endfor %}
            </ul>

   </div>
        <!-- add Members -->
    <div>
       <h5> Ajouter des membres</h5>
        <div class="divider"></div>
        <form action='{% url "band:add_member" %}' method="post"  >
        {% csrf_token %}
        {% include 'core/form_errors.html' with form=member_form %}
        {% render_field member_form.band type="hidden" value=object.name %}
           <div class="input-field ">
          <i class="material-icons prefix">textsms</i>
          {% render_field member_form.musician class="autocomplete" %}
          {{ member_form.musician |add_label_class:"custom-label"}}
          <!--<input type="text" id="user-input" class="autocomplete">-->
          <!--<label for="id_musician" class="custom-label">Chercher le nom du membre à ajouter</label>-->
           </div>
        <div class="input-field ">
         {{ member_form.raison_invitation |add_label_class:"custom-label"}}
         {{ member_form.raison_invitation }}
        </div>
         <!--<label for="id_raison_invitation" class="custom-label">Raison pour laquelle le musicien rejoint le Groupe</label>-->

           <div class="col 1 offset-s11" >
         <button id = 'submit_profile' class="btn-floating btn-small waves-effect waves-light custom-btn" " type="submit" >
         <i class="material-icons">check</i></button>
           </div>
      </form>
    </div>

        <!-- Delete members -->
        <div>
            <h5> Supprimer des membres</h5>
            <span > Le propriétaire du groupe ne peut pas etre supprimé. </span></br>
            <span > Si vous désirez supprimé ce membre il faut d'abord changer le propriétaire.</span>
            <div class="divider"></div>
            <div class="row"></div>
            <ul class="collection with-header">
                {% for member in members %}
             <li class="collection-item avatar" >
                {% if member.musician.userprofile.avatar %}
                <img src="{{ member.musician.userprofile.avatar.url }}" alt="" class="circle">
                {% else %}
                <img src="{% static 'core/img/0.jpg' %}" alt="" class="circle">
                {% endif %}
               <span class="title">{{ member.musician.userprofile.username }}</span>
                <p> {{ member.invite_reason }} </br>
                    {{ member.date_joined }}
                    {{ member.id }}

             <!-- Trigger of the delete modal except in case of the member is the owner, we can not delete owner  -->
                {% if member.musician.userprofile.user != member.band.owner %}

                 <a href="#" class="secondary-content" onclick='initModal("{{ member.id }}");'> <i class="material-icons">delete</i></a>
                    {% endif %}
                 <!-- Modal Structure witch call Deleteview -->
                <div id="confirm_delete{{ member.id }}" class="modal">
                    <div class="modal-content">
                        <form method="post" action="{% url 'band:del_member' member.id %}">
                        {% csrf_token %}
                        <h4> Voulez vous supprimer {{ member.musician.userprofile.username }} du groupe ?</h4>
                        <div class="modal-footer">
                            <a href="#" class="modal-close waves-light btn red" >Non</a>
                            <button class="waves-effect waves-light btn" type="submit">Oui</button>
                        </div>
                    </form>
                </div>
                </div>
            </li>
                {% endfor %}
            </ul>
        </div>


        <!-- Change Owner -->

        <div>
            <h5> Changer le propriétaire du groupe </h5>
            <div class="divider"></div>
            <div class="row"></div>
            <!--<div class="row valign-wrapper">-->
            <form action='{% url "band:change_owner" %}' method="post"  >
            {% csrf_token %}
             <div class="input-field col s12">
            <select name="owner_name">
             <option value="" disabled selected>Chosissez un membre</option>
               {% for member in members %}
            <option value="{{ member.musician.userprofile.username }}">{{ member.musician.userprofile.username }}</option>
                {% endfor %}
            </select>
            <label>Selectionnez un membre</label>
            </div>
                <input type="hidden" value='{{ band.id }}' name = 'band'>

            <div class="col 1 offset-s11" >
            <button id = 'submit_change_owner' class="btn-floating btn-small waves-effect waves-light custom-btn" type="submit" >
            <i class="material-icons">check</i></button>
            </div>
         </form>
        </div>
      </div>





        </div>




  </div>





</div>




</div>
</div>

{% endblock %}

{% block script %}

 <script >

     // function witch call the view autocomplete_username
     // in order to fill name of MFB Member
     $(function() {
            $.ajax({
                url: "{% url 'band:search' %}",
                type: "GET",
                dataType: "json",

                success: function( response ){
                    var userList = response;
                    var dataUser = {};
                    for (var i = 0; i < userList.length; i++) {
                        dataUser[userList[i].value] = null; //countryArray[i].flag or null
                    }
                //console.log(dataUser);
                $('#id_musician').autocomplete({
                     data : dataUser,
                     minLength: 2,
                     });
               }
             });
            });



// Trigger a Modal witch contains confirmation for deletation of a member
function initModal(member_id) {
        //var id_modal = 'confirm_delete' + member_id ;
        //console.log(id_modal);
        var elem = document.getElementById('confirm_delete' + member_id);
        var instance = M.Modal.init(elem);
        instance.open();
        }


// Initialization select
$(document).ready(function(){
    $('select').formSelect();
  });

</script>

{% endblock %}