{% load static %}
{% block content %}

   <ul id="nav-mobile" class="sidenav sidenav-fixed" >
      <li>
         <div class="user-view">
            <a href="{% url 'band:band_detail' object.slug%}" class="tooltipped" data-tooltip="Info groupe" >
               <div class="background">
                  <img alt='background' src="{% static 'core/img/bg_sidenav_band.jpg' %}">
               </div>
               {% if object.avatar %}
               <img alt="Avatar" class="circle responsive-img" src="{{ object.avatar.url }}" />
               {% else %}
               <img alt="Avatar" class="circle responsive-img" src="{% static 'core/img/0_band.jpg' %}" />
               {% endif %}
               <div class='row'></div>
               <div class='row'></div>
               {% if not object.name %}
               <span class="white-text name"> Mettez à jour le profil groupe </span>
               {% else %}
               <span class="white-text">Profil {{object.name}} </span>
               {% endif %}
            </a>
         </div>
      </li>
      <li>
         <a id='edit-compte' class="waves-effect white-text" href="{% url 'band:edit_band' band.slug %}">
         <i class="material-icons white-text">edit</i>
         Editer les informations </a>
      </li>
      <li>
         <a id='gère-compte' class="waves-effect white-text" href="{% url 'band:manage_band' band.slug %}">
         <i class="material-icons white-text">group_add</i>
         Gérer le groupe </a>
      </li>
      <li>
         <a id='history' class="waves-effect white-text" href="">
         <i class="material-icons white-text">access_time</i>
         Historique</a>
      </li>
      <li>
      <div class="divider"></div>
      </li>
      <li>
         <a id='announcement' class="waves-effect white-text" href="">
         <i class="material-icons white-text">announcement</i>
         Les annonces du groupe</a>
      </li>
      <li>
         <a id='setlist' class="waves-effect white-text" href="">
         <i class="material-icons white-text">library_music</i>
         Setlist</a>
      </li>
      <li>
         <a id='calendar' class="waves-effect white-text" href="">
         <i class="material-icons white-text">folder_special</i>
         Calendrier</a>
      </li>
      <li>
      <div class="divider"></div>
      </li>
      <li>
         <a class="waves-effect white-text" href="{% url 'musicians:profile' user.pk  %}">
         <i class="material-icons white-text">my_location</i>
         Compte musicien</a>
      </li>
      <li>
         <a id='logout' class="waves-effect white-text" href="{% url 'authentication:logout' %}">
         <i class="material-icons white-text">eject</i>
         Se deconnecter</a>
      </li>
   </ul>

{% endblock %}
{% block script %}
<script>
   $(document).ready(function(){
      $('.sidenav').sidenav();
    });

</script>
{% endblock %}
