{% load static %}
{% block content %}
<div class="container">
    <a href="#" data-target="nav-mobile" class="top-nav sidenav-trigger show-on-large">
        <i class="material-icons">menu</i></a>
</div>

<ul id="nav-mobile" class="sidenav sidenav-fixed" style="transform: translateX(0px);">

    <li class="logo">
        <a href="{% url 'core:accueil' %}" class="brand-logo">
          <img id="logo" alt="logo" style = 'margin: 20px' class='responsive-img' src="{% static 'core/img/logo_brand3.png' %}">
      </a>
    </li>

    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>

    <li><div class="user-view">
    <a href="{% url 'band:band_detail' object.slug%}" class="tooltipped" data-tooltip="Info groupe" >

            <div class="background">
                <img src="{% static 'core/img/bg_sidenav_band.jpg' %}">
            </div>
      {% if object.avatar %}
        <img alt="Avatar" class="circle responsive-img" src="{{ object.avatar.url }}" />
            {% else %}
        <img alt="Avatar" class="circle responsive-img" src="{% static 'core/img/0_band.jpg' %}" />
      {% endif %}
     </br>
      <h5 class="custom-text " style = "text-transform: uppercase">{{object.name}}</h5>
        </a>
    </div></li>

    <li>
        <a id='announcement' class="waves-effect custom-text" href="">
            <i class="material-icons custom-icons">announcement</i>
            Les annonces du groupe</a>
    </li>


    <li><div class="divider"></div></li>

        <li>
        <a id='history' class="waves-effect custom-text" href="">
            <i class="material-icons custom-icons">access_time</i>
            Historique</a>
    </li>

     <li><div class="divider"></div></li>


        <li>
        <a id='calendar' class="waves-effect custom-text" href="">
            <i class="material-icons custom-icons">folder_special</i>
            Calendrier</a>
    </li>

     <li><div class="divider"></div></li>

       <li>
        <a id='setlist' class="waves-effect custom-text" href="">
            <i class="material-icons custom-icons">library_music</i>
            Setlist</a>
    </li>

     <li><div class="divider"></div></li>

        <li>
        <a id='edit-compte' class="waves-effect custom-text" href="{% url 'band:edit_band' band.slug %}">
            <i class="material-icons custom-icons">edit</i>
            Editer les informations </a>
    </li>

     <li><div class="divider"></div></li>

        <li>
        <a id='edit-compte' class="waves-effect custom-text" href="{% url 'musicians:update_profile' %}">
            <i class="material-icons custom-icons">group_add</i>
            Gérer les membres </a>
    </li>

     <li><div class="divider"></div></li>

        <li>
        <a id='' class="waves-effect custom-text" href="{% url 'musicians:profile' %}">
            <i class="material-icons custom-icons">my_location</i>
            Compte musicien</a>
    </li>

     <li><div class="divider"></div></li>

    <li>
        <a id='logout' class="waves-effect custom-text" href="{% url 'authentication:logout' %}">
            <i class="material-icons custom-icons">eject</i>
            Se deconnecter</a>
    </li>
  </ul>


  <!--<a href="#" data-target="slide-out" class="sidenav-trigger show-on-large">-->
      <!--<i class="material-icons">menu</i></a>-->




<!--<script>-->
 <!--$(document).ready(function(){-->
    <!--$('.sidenav').sidenav();-->
  <!--});-->

<!--</script>-->

{% endblock %}