{% extends 'core/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<main>

<div class="container " xmlns="http://www.w3.org/1999/html">
   <div class="row"></div>
   <div class="row"></div>
   {% if messages %}
   {% for message in messages %}
   <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" {% endif %}>
   <span>{{ message }}</span>
</div>
{% endfor %}
{% endif %}

   <form action='{% url "band:add_band" %}' method="post" enctype="multipart/form-data" >
         {% csrf_token %}
         {% include 'core/form_errors.html' with form=form %}


<div class="row valign-wrapper">
   <!--avatar form-->
   <div class="col s5">


         {{ form.avatar }}

   </div>
   <!--profile form-->
   <div class="col s7">


         {{ form.name }}
         {{ form.bio }}


   </div>
</div>

 <div class="row valign-wrapper">

<!--instru form-->
<div class="col s5 ">

<h5 >Type de groupe : </h5>
   {{ form.type }}
<h5 >Genre musical : </h5>
   {{ form.musical_genre }}


</div>


<!--local form-->
<div class="col s7">
   <div class="row">
      <div class="col s7">
         <span class="tooltipped" data-position="bottom" data-tooltip="Je suis là">Localisation :</span>

      </div>
      <div class="col s3">
          <input id="first" type="button" class="btn custom-btn custom-text " value="trouver">
      </div>
   </div>
   <div class="row">

         {% csrf_token %}
         <div style="display: none"  id="cp" >
            <div class="col s7">
               {{ form.code|add_label_class:"Code postal" }}
               {{ form.code|append_attr:"class:validate" }}
            </div>
            <div class="col s3">
               <input id="send" type="button" class="btn custom-btn custom-text" value ='MAJ'>
            </div>
         </div>
         <div  style="display: none" id="town" >
            <div class="col s7">
               {{ form.town }}
               {{ form.county_name}}
            </div>

         </div>


   </div>


   </div>
 </div>



   <div class="row">

      <button id='form_submit' class="btn-floating btn-large waves-effect waves-light custom-btn " type="submit" >
            <i class="material-icons">check</i></button>
   </div>

</form>

<!-- Modal Structure in case of a bad input cp -->
<div id="bad_cp" class="modal">
   <div class="modal-content">
      <h4>Mauvais code postal</h4>
      <p>Veuillez le resaisir</p>
   </div>
   <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
   </div>
</div>
</main>

{% endblock %}

{% block script %}

<script type="text/javascript" src="{% static 'core/js/geo_api.js' %}"></script>

{% endblock %}