[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2 = "*"
psycopg2-binary = "*"
django-yearlessdate = "*"
pillow = "*"
django-model-utils = "*"
crispy-forms-materialize = "*"

[requires]
python_version = "3.5"
