{% extends 'core/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<main>

<div class="container " xmlns="http://www.w3.org/1999/html">
   <div class="row"></div>
   <div class="row"></div>
   {% if messages %}
   {% for message in messages %}
   <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" {% endif %}>
   <span>{{ message }}</span>
</div>
{% endfor %}
{% endif %}
<div class="row">
   <div>
      <a href='{% url "musicians:profile" %}' class="waves-effect waves-light btn custom-btn custom-text" >
      <i class="material-icons left">equalizer</i> Profil </a>
   </div>
</div>
<div class="row valign-wrapper">
   <!--avatar form-->
   <div class="col s5">
      <form action='{% url "musicians:update_avatar" %}' method="post" enctype="multipart/form-data" >
         {% csrf_token %}
         {% if user.userprofile.avatar %}
         <img alt="Avatar" class="circle responsive-img" src="{{ user.userprofile.avatar.url }}" />
         {% else %}
         <img alt="Avatar" class="circle responsive-img" src="{% static 'core/img/0.jpg' %}" />
         {% endif %}
         {{ avatar_form.as_p }}
         <button id='submit_avatar' class="btn-floating btn-small waves-effect waves-light custom-btn"" type="submit" >
         <i class="material-icons">check</i></button>
      </form>
   </div>
   <!--profile form-->
   <div class="col s7">
      <form action='{% url "musicians:update_data" %}' method="post"  >
         {% csrf_token %}

        {% include 'core/form_errors.html' with form=profil_form %}

         {{ profile_form.as_p }}
         <button id = 'submit_profile' class="btn-floating btn-small waves-effect waves-light custom-btn" " type="submit" >
         <i class="material-icons">check</i></button>

      </form>
   </div>
</div>

 <div class="row valign-wrapper">

<!--instru form-->
<div class="col s5 ">
{# display list and level of instrument #}
<h4 >Instrument : </h4>
<ul>
   {% for i in user.instrument_set.all %}
   <li>{{i.instrument}} : {{i.level}}</li>
   {% endfor %}
</ul>
<div id='trigger_button' class="row valign-wrapper">
   {% if user.instrument_set.all.count < 3 %}
   {# to display add possibility only for three instruments #}
   <button id = "add" class="btn-floating btn-small waves-effect waves-light custom-btn"">
   <i class="material-icons">add</i>  </button>
   {% endif %}
   {% if user.instrument_set.all %}
   <button id = "delete" class="btn-floating btn-small waves-effect waves-light custom-btn"">
   <i class="material-icons">delete</i>  </button>
   {% endif %}
</div>

<div  style="display: none" id="form_delete">
   {# display possibility of delete #}
   <form action='{% url "musicians:del_instru" %}' method="post">
      {% csrf_token %}
      <div class="row valign-wrapper">
         <div class="col s6">
            {{ del_instru_form.as_p }}
         </div>
         <div class="col s6 center-align ">
            <button  class="btn-floating btn-small waves-effect waves-light custom-btn">
            <i class="material-icons">delete</i>  </button>
         </div>
      </div>
   </form>
</div>

<div style="display: none"  id="form_add">
   <form action='{% url "musicians:add_instru" %}' method="post"  >
      {% csrf_token %}
      <div class="row valign-wrapper">
         <div class="col s6">
            {{ instru_form.as_p }}
         </div>
         <div class="col s6 center-align ">
            <button class="btn-floating btn-small waves-effect waves-light custom-btn " type="submit" >
            <i class="material-icons">add</i></button>
         </div>
      </div>
   </form>
</div>

</div>


<!--local form-->
<div class="col s7">
   <div class="row">
      <div class="col s7">
         <span class="tooltipped" data-position="bottom" data-tooltip="Je suis là">Localisation :</span>
         <span>{{user.userprofile.town}}, {{user.userprofile.county_name}}</span>
      </div>
      <div class="col s3">
         <!--<input id="first" type="button" value="Change">-->
         <button id="first" class="waves-effect waves-light btn custom-btn custom-text ">change</button>
      </div>
   </div>
   <div class="row">
      <form action='{% url "musicians:update_location" %}' method="post"  >
         {% csrf_token %}
         <div style="display: none"  id="cp" >
            <div class="col s7">
               {{ local_form.code |add_label_class:"Code postal" }}
               {{ local_form.code|append_attr:"class:validate" }}
            </div>
            <div class="col s3">
               <input id="send" type="button" class="btn custom-btn custom-text" value ='MAJ'>
            </div>
         </div>
         <div  style="display: none" id="town" >
            <div class="col s7">
               {{ local_form.town }}
               {{ local_form.county_name}}
            </div>
            <button id='local_submit' class="btn-floating btn-large waves-effect waves-light custom-btn " type="submit" >
            <i class="material-icons">check</i></button>
         </div>
      </form>
   </div>
</div>
</div>
</div>

<!-- Modal Structure in case of a bad input cp -->
<div id="bad_cp" class="modal">
   <div class="modal-content">
      <h4>Mauvais code postal</h4>
      <p>Veuillez le resaisir</p>
   </div>
   <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
   </div>
</div>
</main>

{% endblock %}

{% block script %}

<script>
$("#first").click(function() {

  $("#first").hide();
  $("#cp").show();
  $("#btn_send").show();
  //empty id_code
  $('#id_code').val('');


  $("#send").click(function () {

      var $code = $('#id_code').val();

      // valid cp coder
      var $return = validateZip($code);
      if ($return === true) {
          var url = createURL($code);
          $.getJSON(
              url,
              function (data) {

                    if (data.length != 0){


                            $.each(data, function (index, value) {


                             $("#id_town").append($("<option value=\"" +value.nom+ "\">" + value.nom + "</option>"));
                                $(document).ready(function () {
                                $('select').formSelect();
                                 });

                             $('#id_county_name').val(value.departement.nom);

                            });


                            $("#send").hide();
                            $("#town").show();
                          } else {
                             // show the modal
                              var elem = document.querySelector('.modal');
                              var instance = M.Modal.init(elem);
                              instance.open();
                                }

              });

      } else {
          // show the modal
          var elem = document.querySelector('.modal');
          var instance = M.Modal.init(elem);
          instance.open();
      }

        });
});

//validate postal code

function validateZip(code){
	return (code.length!=5 || isNaN(code)) ? false : true;
}

//create an url
function createURL(code) {
    var baseURL = "https://geo.api.gouv.fr/communes?codePostal="
    var params = {
                    fields : 'nom,departement',
                    format : 'json',
                    geometry : 'centre'
        };
    return(baseURL+code+'&'+ $.param( params ))
}

// initialize the select choice
  $(document).ready(function(){
    $('select').formSelect();
  });

// script to display list of instrument in order to delete just one

$("#delete").click(function() {
    $('#trigger_button').hide();
    $('#form_delete').show();


    })

$("#add").click(function() {
    $('#trigger_button').hide();
    $('#form_add').show();
    })

</script>
{% endblock %}