
{% extends 'core/base.html' %}
{% load widget_tweaks %}

{% load static %}
{% block content %}

<form method="post">
        {% csrf_token %}
        <div class="col s5 offset-s7">
        <span class="tooltipped" data-position="bottom" data-tooltip="Je suis là">Localisation :</span>
        <span>{{user.userprofile.town}}, {{user.userprofile.county_name}}</span>

        <input id="first" type="button" value="Change">
        </div>
        <div class="col s4 ">

          <div style="display: none" id="fn">

              <p>TEST</p>

            {{ local_form.code |add_label_class:"Code postal" }}
            {{ local_form.code|append_attr:"class:validate" }}

         </div>

            <div  style="display: none" id="town"  class = "row " >
            {{ local_form.town }}
            {{ local_form.county_name}}
            <button class="btn-floating btn-large waves-effect waves-light green" type="submit" name="location">
            <i class="material-icons">add</i></button>
            </div>
<!--|append_attr:'class:tooltipped'|append_attr:'data-position:bottom'|append_attr:'data-tooltip :plus de villes'-->

        </div>



</form>

      <!-- Modal Structure in case of a bad input cp -->
  <div id="bad_cp" class="modal">
    <div class="modal-content">
      <h4>Mauvais code postal</h4>
      <p>Veuillez le resaisir</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
    </div>
  </div>

<script>

    $("#first").click(function() {
        alert("Houra");
    });

</script>

{% endblock %}

{% block script %}

<script>



$("#first").click(function() {

  $("#fn").show();
  $("#first").hide();
  $("#send").show();
  $('#send').click(function () {


      var $code = $('#id_code').val();
      var $return = validateZip($code);
      if ($return === true) {
          var url = createURL($code);
          $.getJSON(
              url,
              function (data, status) {
                  $.each(data, function (index, value) {
                      $("#id_town").append($("<option >" + value.nom + "</option>"));
                      $(document).ready(function () {
                          $('select').formSelect();
                      });
                      console.log(value.departement.nom)
                      $('#id_county_name').val(value.departement.nom);
                  });
                  $("#send").hide();
                  $("#town").show();
              });
      } else {
          // show the modal
          var elem = document.querySelector('.modal');
          var instance = M.Modal.init(elem);
          instance.open();
      }

        });

        });

//validate postal code

function validateZip(code){
	return (code.length!=5 || isNaN(code)) ? false : true;
}

//create an url
function createURL(code) {
    var baseURL = "https://geo.api.gouv.fr/communes?codePostal="
    var params = {
                    fields : 'nom,departement',
                    format : 'json',
                    geometry : 'centre'
        };
    return(baseURL+code+'&'+ $.param( params ))
}

// initialize the select choice
  $(document).ready(function(){
    $('select').formSelect();
  });

</script>

{% endblock %}