<!DOCTYPE html>

  <html lang="fr">

    <head>
       {% load static %}
      <!--Import jQuery before materialize.js-->

      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

      <!--Import custom.js-->

      <script type="text/javascript" src="{% static 'core/js/custom.js' %}"></script>


      <!-- Compiled and minified JavaScript -->

      <!-- Materialize CSS core -->

      <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>

      <!-- Materiallize CSS JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

      <!--Import Vue.JS-->
        <script src="https://unpkg.com/vue"></script>

      <!--Import Google Icon Font-->

      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

     <!-- Compiled and minified CSS -->

      <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">-->

      <!-- Custom Css for this web site-->

      <link href="{% static 'core/css/custom.css' %}" rel="stylesheet">

      <!--Let browser know website is optimized for mobile-->

      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


       <title>MyFirstBand</title>
    </head>


    <body class="bg-test">



    {% if user.is_authenticated %}
    {% include "core/sidenav_connected.html" %}
    {% endif %}
    {% block content %} {% endblock %}
      {% block script %} {% endblock %}


    </body>

  </html>