
{% extends './base.html' %}
{% load static %}

{% block content %}

{% if not user.is_authenticated %}
     {% include "core/navbar.html" %}
    {% endif %}

<main>


<div class="container">
    <div class="row">
        <div class="col s12  ">

            <h4 id="title " class="center-align">Bienvenue sur My First Band </br>
                                                 {{user.userprofile.username}}</h4>



</div>
    </div>
</div>

</main>

<script>
<!--new Vue({-->
  <!--delimiters: ['[[', ']]'],-->
  <!--el: '#title',-->
  <!--data: {-->
    <!--title: 'Bienvenue sur My First Band ',-->


  <!--}-->
<!--})-->


</script>







{% endblock %}