{% extends 'core/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block navbar %}
{% include "core/navbar.html" with title_navbar='My First Band' %}
{% endblock %}
{% block content %}
<main>
   <div class="container">
      <h4 id="title">Bienvenue sur My First Band {{user.userprofile.username}} ! </h4>
      <div class="divider"></div>
      {% include 'core/display_messages.html' %}
      <p class="flow-text">Musiciens ! Sur <strong>My First Band</strong> vous pouvez :</p>
      <ul>
         <li>Rencontrer les musiciens près de chez vous ! </li>
         <li>Rejoindre des groupes de musique en deux clics !</li>
         <li> Echanger des messages ! </li>
      </ul>

      <p class="flow-text">Groupes ! <strong> Un espace vous est dédié ! </strong> </p>
      <p> Dans un esprit collaboratif, il vous accompagne dans la gestion de votre projet de groupe . </p>
      <ul>
         <li>Partage d'un calendrier </li>
         <li>Suivre l'avancée de votre travail sur vos morceaux .</li>
         <li> Présenter votre groupe aux autres musiciens .</li>
         <li>Passer des annonces  ou trouver de nouveaux membres.
         <li>Ecrire l'historique du groupe.</li>
      </ul>
      <p class="flow-text">    N'hesitez pas ! Inscrivez vous en deux clics !</p>

   </div>
</main>
{% endblock %}

