
  {% load static %}

   <nav class="nav-wrapper">
      <!--<div class="container">-->
         <div class="row valign-wrapper">
            <div class="col s2 l1 ">
               <a class="sidenav-trigger full hide-on-large-only" href="#" data-target="nav-mobile">
               <i class="material-icons">menu</i>
               </a>
            </div>
               <!--<a href="{% url 'home' %}" class="brand-logo"> My First Band</a>-->
             <div class="col s7 m8 l8">
                <h1 class="flow-text center-align">{{ title_navbar }}</h1>
             </div>

             <div class="col s4 center-align">
                 <a href="{% url 'home' %}" class="">
               <img  alt="logo"  width="60px" height="60px"  class='logo' src="{% static 'core/img/logov2.png' %}">
                     </a>
             </div>

           <!--<img  alt="logo"  width="50px" height="50px"  class='right responsive-img hide-on-large-only' src="{% static 'core/img/logo_small.png' %}">-->
            </div>
         </div>

   </nav>