{% load static %}

{% block nav-style %}


             <!--Profil-->
            <li>
            <a href="{% url 'musicians:profile' %}">
                <i  class="material-icons tooltipped" data-tooltip="Mon compte" >settings </i>
            </a></li>

            <!--Deconnexion-->
            <li>
            <a id='logout' href="{% url 'authentication:logout' %}">
                <i  class="material-icons tooltipped " data-tooltip="Deconnexion" >eject</i>
            </a></li>


<script>

</script>

{% endblock %}