
{% load static %}
{% block nav-style %}
  <nav class=" nav-custom">
    <div class="nav-wrapper grey darken-1 z-depth-4">
        <div class="row">
      <a href="{% url 'core:accueil' %}" class="brand-logo">
          <img id="logo" alt="logo" style = 'margin: 20px' class='responsive-img' src="{% static 'core/img/logo_brand3.png' %}">
      </a>

        </div>
      <ul style = 'margin: 10px' class=" right hide-on-med-and-down ">
        <li><a href=""><i class="material-icons ">search</i></a></li>

            {% if user.is_authenticated %}
            {% include "core/navbar_connected.html" %}
            {% else %}
            <li>
                <a id='login' href="{% url 'authentication:login' %}">
                <i style='font-size: 40px' class=" material-icons  tooltipped " data-tooltip="Se connecter" >loop </i>
            </a>

            </li>
            <li>
                <a id='sign-in-link' href="{% url 'authentication:signup' %}">
                <i id='sign-in'  style='font-size: 40px' class=" material-icons  tooltipped " data-tooltip="Créer un compte" >account_box </i>
            </a></li>
          {% endif %}
      </ul>
    </div>
  </nav>

{% endblock %}