{% extends 'core/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block navbar %}
{% include "core/navbar.html" with title_navbar="Profil du groupe" %}
{% endblock %}
{% block content %}
<main>
   <div class="container" >

<div class="row"></div>
   <div class="row ">
      <div class="col s4">
         {% if object.avatar %}
         <img alt="Avatar" class="circle responsive-img" src="{{ object.avatar.url }}" />
         {% else %}
         <img alt="Avatar" class="circle responsive-img" src="{% static 'core/img/0_band.jpg' %}" />
         {% endif %}
      </div>
      <div class="col s8 ">
         <h4 >
            {{ object.name }}
         </h4>
      </div>
   </div>
 <div class="row ">
    <div class="col s12">
         <p>Créer sur myFirstBand le {{ object.created_at }}</p>
         <blockquote >{{ object.bio }}</blockquote>


      <h6>Localisation : </h6>
      <span>{{object.town}} {{object.county_name}}</span>
      <div class="row"></div>
      <h6>Type et genre musical : </h6>
      <span>{{object.type}} {{object.musical_genre}}</span>

      <div class="row"></div>
       <h6 class="">Membres</h6>
      <ul class="collection ">

         {% for member in members %}
         <li class="collection-item avatar ">
            {% if member.musician.userprofile.avatar %}
            <img src="{{ member.musician.userprofile.avatar.url }}" alt="" class="circle">
            {% else %}
            <img src="{% static 'core/img/0.jpg' %}" alt="" class="circle">
            {% endif %}
            <a href='{% url "core:musician_profile" member.musician.userprofile.pk  %}' class="black-text"> {{ member.musician.userprofile.username }}</a>
            <p class="">depuis le {{ member.date_joined }} </p>

         </li>
         {% endfor %}
      </ul>

   </div>
   </div>
   </div>


</main>
{% endblock %}
