{% extends 'core/base.html' %}
{% load static %}
{% block navbar %}
{% include "core/navbar.html" with title_navbar="Profil du musicien" %}
{% endblock %}
{% block content %}
<main>
   <div class="container" >
      <div class="row"></div>


            <div class="row ">
               <div class="col s4">
                  {% if object.avatar %}
                  <img alt="Avatar" class="circle responsive-img" src="{{ object.avatar.url }}" />
                  {% else %}
                  <img alt="Avatar" class="circle responsive-img" src="{% static 'core/img/0.jpg' %}" />
                  {% endif %}
               </div>
               <div class="col s8">
                  <h5 class="">
                     {{ object.username }}
                  </h5>
                  <div class="divider"></div>
               </div>
            </div>
            <div class="row"></div>


                  <h6>Instrument</h6>

                  <ul>
                     {% for i in instruments %}
                     <li> {{ i }} </li>
                     {% endfor %}
                  </ul>

                  <h6>Biographie</h6>



                  <span>{{object.bio}}</span>

               <div class="row"></div>
               <span > {{age}}  </span></br>
               <span>{{ object.town}} {{ object.county_name}}</span>

                  <h6>Membre de : </h6>
                  <div class="divider"></div>
                  {% if bands  %}
                  <ul class="collection">
                     {% for band in bands %}
                     <li class="collection-item avatar">
                        {% if band.avatar %}
                        <img src="{{ band.avatar.url }}" alt="" class="circle">
                        {% else %}
                        <img src="{% static 'core/img/0_band.jpg' %}" alt="" class="circle">
                        {% endif %}
                        <a href='{% url "core:band_profile" band.slug  %}' class="black-text">{{ band.name }}</a>
                        <!--<span class="title">{{ band.name }}</span>-->
                        {% if not band.type %}
                        <p class=""> En cours de création  </p>
                           {% else %}
                        <p class=""> {{ band.type }} {{ band.musical_genre }}  </p>
                           {% endif %}
                           {% if not band.town %}
                        <p class=""> Localité inconnue   </p>
                           {% else %}
                        <p class="">{{ band.town }} , {{ band.county_name }} </p>
                           {% endif %}


                     </li>
                     {% endfor %}
                  </ul>
                  {% else %}
                  {# if no band #}
                  <div class="divider"></div>
                  {% endif %}
               </div>




</main>
<script></script>
{% endblock %}
