{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<main>
   <div class="container" >
      <div class="row"></div>
      <div class="row">
         <div class="col s12  ">
            <div class="row valign-wrapper">
               <div class="col s4">
                  {% if object.avatar %}
                  <img alt="Avatar" class="circle responsive-img" src="{{ object.avatar.url }}" />
                  {% else %}
                  <img alt="Avatar" class="circle responsive-img" src="{% static 'core/img/0.jpg' %}" />
                  {% endif %}
               </div>
               <div class="col s8">
                  <h4 class="black-text">
                     {{ object.username }}
                  </h4>
                  <div class="divider"></div>
               </div>
            </div>
            <div class="row"></div>
            <div class="col s10 offset-s2">
               <div>
                  <h5>Instrument</h5>
                  <div class="divider"></div>
                  <ul>
                     {% for i in instruments %}
                     <li> {{ i }} </li>
                     {% endfor %}
                  </ul>
               </div>
               <div class="row"></div>
               <div>
                  <h5>Biographie</h5>
                  <div class="divider"></div>
                  <div class="row"></div>
               </div>
               <div>
                  <span>{{object.bio}}</span>
               </div>
               <div class="row"></div>
               <span > {{age}}  </span></br>
               <span>{{ object.town}} {{ object.county_name}}</span>
               <div>
                  <h5>Membre de : </h5>
                  <div class="divider"></div>
                  {% if bands  %}
                  <ul class="collection">
                     {% for band in bands %}
                     <li class="collection-item avatar">
                        {% if band.avatar %}
                        <img src="{{ band.avatar.url }}" alt="" class="circle">
                        {% else %}
                        <img src="{% static 'core/img/0_band.jpg' %}" alt="" class="circle">
                        {% endif %}
                        <span class="title">{{ band.name }}</span>
                        {% if not band.type %}
                        <p> En cours de création <br>
                           {% else %}
                        <p> {{ band.type }} {{ band.musical_genre }} <br>
                           {% endif %}
                           {% if not band.town %}
                        <p> Localité inconnue <br>
                           {% else %}
                           {{ band.town }} , {{ band.county_name }}
                           {% endif %}
                        </p>
                        <a href='{% url "core:band_profile" band.slug  %}' class="secondary-content"><i class="material-icons">grade</i></a>
                     </li>
                     {% endfor %}
                  </ul>
                  {% else %}
                  {# if no band #}
                  <div class="divider"></div>
                  {% endif %}
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>
   </div>
</main>
<script></script>
{% endblock %}
