{% load static %}
{% block sidebar %}
<header>
   <nav class="nav-wrapper">
      <div class="container">
         <div class="row">
            <div class="col s12 m10 offset-m1">
               <a class="sidenav-trigger full hide-on-large-only" href="#" data-target="nav-mobile">
               <i class="material-icons">menu</i>
               </a>
               <a href="{% url 'home' %}" class="brand-logo"> My First Band</a>
               <img  alt="logo"  width="50px" height="50px"  class='right responsive-img hide-on-large-only' src="{% static 'core/img/logo_small.png' %}">
            </div>
         </div>
      </div>
   </nav>
   <div class="row"></div>
   <ul id="nav-mobile" class="sidenav sidenav-fixed">
      <li class="logo active">
         <a href="{% url 'home' %}" class="brand-logo">
         <img  alt="logo" style ="margin: 20px" width="50px" height="50px"  class='responsive-img ' src="{% static 'core/img/logo_small.png' %}">
         </a>
      </li>
       <div class="row"></div>
      <div class="divider"></div>
      <li>
         <div class="user-view">
            <a href="{% url 'musicians:profile' request.user.pk %}" class="tooltipped" data-tooltip="Mon compte" >
               <div class="background">
                  <img src="{% static 'core/img/bg_sidenav.jpg' %}">
               </div>
               {% if request.user.userprofile.avatar %}
               <img alt="Avatar" class="circle responsive-img" src="{{ request.user.userprofile.avatar.url }}" />
               {% else %}
               <img alt="Avatar" class="circle responsive-img" src="{% static 'core/img/0.jpg' %}" />
               {% endif %}
               <span class="custom-text name"> {{request.user.userprofile.username}} </span>
               <span class="custom-text e-mail">{{request.user.email}}</span>
            </a>
         </div>
      </li>
      <li>
         <a id='message' class="waves-effect custom-text active" href="{% url 'announcement:announcement_messages' %}">
         <i class="material-icons custom-icons">message</i>
         Mes messages</a>
      </li>
      <li>
         <div class="divider"></div>
      </li>
      <li>
         <a id='announcement' class="waves-effect custom-text active" href="{% url 'announcement:announcement_list' %}">
         <i class="material-icons custom-icons">announcement</i>
         Mes annonces</a>
      </li>
      <li>
         <div class="divider"></div>
      </li>
      <li>
         <a id='group' class="waves-effect custom-text active" href='{% url "band:list_bands" %}'>
         <i class="material-icons custom-icons">group_work</i>
         Mes groupes</a>
      </li>
      <li>
         <div class="divider"></div>
      </li>
      <li>
         <a id='edit-compte' class="waves-effect custom-text active" href="{% url 'musicians:update_profile' request.user.pk  %}">
         <i class="material-icons custom-icons">edit</i>
         Editer mon compte</a>
      </li>
      <li>
         <div class="divider"></div>
      </li>
      <li>
         <a id='logout' class="waves-effect custom-text active" href="{% url 'authentication:logout' %}">
         <i class="material-icons custom-icons">eject</i>
         Se deconnecter</a>
      </li>
   </ul>
</header>
{% endblock %}
{% block script %}
<script>
   $(document).ready(function(){
      $('.sidenav').sidenav();
    });

</script>
{% endblock %}