{% load static %}
{% block sidebar %}
   <ul id="nav-mobile" class="sidenav sidenav-fixed">

      <li>
         <div class="user-view">
            <a href="{% url 'musicians:profile' request.user.pk %}" class="tooltipped" data-tooltip="Mon compte" >
               <div class="background">
                  <img src="{% static 'core/img/bg_sidenav.jpg' %}">
               </div>
               {% if request.user.userprofile.avatar %}
               <img alt="Avatar" class="circle responsive-img" src="{{ request.user.userprofile.avatar.url }}" />
               {% else %}
               <img alt="Avatar" class="circle responsive-img" src="{% static 'core/img/0.jpg' %}" />
               {% endif %}

               {% if not request.user.userprofile.username %}
               <span class="white-text name">  </span>
               {% else %}
               <span class="white-text name"> {{request.user.userprofile.username}} </span>
               {% endif %}
               <span class="white-text">Profil</span>
            </a>
         </div>
      </li>

          <li>
         <a id='edit-compte' class="waves-effect white-text active" href="{% url 'musicians:update_profile' request.user.pk  %}">
         <i class="material-icons white-text">edit</i>
         Editer mon compte</a>
      </li>
            <li>
         <a id='group' class="waves-effect white-text active" href='{% url "band:list_bands" %}'>
         <i class="material-icons white-text">group_work</i>
         Mes groupes</a>
      </li>

            <li>
         <a id='announcement' class="waves-effect white-text active" href="{% url 'announcement:announcement_list' %}">
         <i class="material-icons white-text">announcement</i>
         Mes annonces</a>
      </li>
      <li>
         <a id='message' class="waves-effect white-text active" href="{% url 'announcement:announcement_messages' %}">
         <i class="material-icons white-text ">message</i>
         Mes messages</a>
      </li>
      <li >
         <a id='search' class="waves-effect white-text active"  href="{% url 'core:invite_search' %}">
         <i class="material-icons white-text" >search</i>
         Chercher
         </a>
      </li>

      <li>
         <div class="divider"></div>
      </li>
      <li>
         <a id='about' class="waves-effect white-text active" href="{% url 'core:about' %}">
         <i class="material-icons white-text">insert_emoticon</i>
         A propos</a>
      </li>

      <li>
         <a id='logout' class="waves-effect white-text active" href="{% url 'authentication:logout' %}">
         <i class="material-icons white-text">eject</i>
         Se deconnecter</a>
      </li>
   </ul>
{% endblock %}
{% block script %}
<script>
   $(document).ready(function(){
      $('.sidenav').sidenav();
    });

</script>
{% endblock %}