{% load static %}
{% block sidebar %}


   <ul id="nav-mobile" class="sidenav sidenav-fixed">
      <li>
         <div class="row"></div>
      </li>
      <li>
         <div class="row"></div>
      </li>
      <li class="active">
         <a id='search' class="waves-effect white-text "  href="{% url 'core:invite_search' %}">
         <i class=" material-icons  tooltipped white-text " data-tooltip="Chercher" >search</i>
         Chercher
         </a>
      </li>

      <li>
         <div class="row"></div>
      </li>

      <li class="active">
         <a id='login' class="waves-effect white-text "  href="{% url 'authentication:login' %}?next={{ request.get_full_path|urlencode }}">
         <i class=" material-icons  tooltipped white-text" data-tooltip="Se connecter" >loop </i>
         Se connecter
         </a>
      </li>
      <li>
         <div class="row"></div>
      </li>

      <li class="active">
         <a id='sign-in-link' class="waves-effect white-text "  href="{% url 'authentication:signup' %}?next={{ request.path|urlencode }}">
         <i id='sign-in'  class=" material-icons  tooltipped white-text" data-tooltip="Créer un compte" >account_box </i>
         Créer un compte</a>
      </li>
      <li>
         <div class="divider"></div>
      </li>
      <li>
         <a id='about' class="waves-effect white-text active" href="{% url 'core:about' %}">
         <i class="material-icons white-text">insert_emoticon</i>
         A propos </a>
      </li>

   </ul>

<script>
   // Initialize collapse button

     $(document).ready(function(){
       $('.sidenav').sidenav();
     });
</script>
{% endblock %}
