{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<main>
   <div class="container" >
      <div class="row"></div>
      <div class="row">
         <div class="col s8">
            <h4 >
               {{ object.title }}
            </h4>
            <p>Publiée  le {{ object.created_at }}</p>
            <blockquote >{{ object.content }}</blockquote>
            <p class="margin medium-small "><a href='{% url "core:musician_profile" object.author.userprofile.pk  %}'  class="custom-text-link"><b> {{ object.author.userprofile.username }} </b></a></p>
            <label style='float: right;'>
            {% if not user.is_authenticated  %}
            <a id='link_login' class="waves-effect waves-light btn custom-btn custom-text" href="{% url 'authentication:login' %}?next={{ request.get_full_path|urlencode }}">
            <i class="material-icons left">loop</i>Pour répondre se connecter</a>
            {% else %}
            <button id='answer' class="waves-effect waves-light btn custom-btn custom-text">
            <i class="material-icons left">question_answer</i>Répondre</button>
            {% endif %}
            </label>
         </div>

            <div class="col s8  ">
           {% include 'core/display_messages.html' %}
            {% include 'announcement/answer.html' %}
            </div>
      </div>
   </div>
</main>
{% endblock %}
{% block script %}

{% endblock %}
