


               <form class="login-form" method="post" action='{% url "announcement:post_message" %}'>
                    {% csrf_token %}
                  <div class="row ">
                     <div class="input-field col s12 card-panel">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea id="message_text" name="message_text" class="materialize-textarea c" data-length="200"></textarea>
                         <div id="pass_info">
                             <input type="hidden" name="m_id" value="{{ first_response.id }}">
                             <input type="hidden" name="m_ads" value="{{ first_response.musician_announcement.id }}">


                         </div>


                     </div>
                       <div style='float: right;' class="row">
                           <div class=" col s12">
                             <button id='send_message' class="waves-effect waves-light btn custom-btn custom-text" type="submit">
                            <i class="material-icons left">send</i>Envoyer</button>
                           </div>
                        </div>
                  </div>
               </form>

