{% load static %}
   {% block content %}

         <section style="display: none" id="response">

               <form class="login-form" method="post" action='{% url "announcement:post_answer" %}'>
                    {% csrf_token %}
                  <div class="row">
                     <div class="input-field card-panel">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea id="answer_text" name="answer_text" class="materialize-textarea" data-length="200"></textarea>
                        <input type="hidden" name="a_id" value="{{object.id}}">

                     </div>

                             <button id='send_answer' class="waves-effect waves-light btn custom-btn custom-text" type="submit">
                            <i class="material-icons left">send</i>Envoyer</button>

                  </div>
               </form>

         </section>

 {% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'core/js/manage_answer.js' %}"></script>
{% endblock %}
