{% extends 'core/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<main>
   {% include 'core/display_messages.html' %}
   <!---ads that the logged-in user has responded to -->
   {% if answered_ads_list|length > 0 %}
   <div class="row ">
      <div id="answered_ads_list" class="col s4 z-depth-4">
         <h5> Annonces auxquelles vous avez répondu </h5>
         <div class="collection">
            {% regroup answered_ads_list by musician_announcement as announcement_list %}
            {% for announcement in announcement_list %}
            {% for item in announcement.list %}
            <p>Yep : {{ item.musician_announcement.author.userprofile.username }}</p>
            <a href="#" class="collection-item custom-text-link-login " onclick='displayMessages("{{ item.content }}",
               "{{ item.author.userprofile.username }}",
               "{{ item.author.userprofile.pk }}",
               "{{ item.id }}",
               "{{ item.musician_announcement.id }}",
               "#message_list",
               "#message_area");'>
               {{ announcement.grouper.title }}
               <p class="purple-text text-lighten-3" style="color:pink lighten-4"> {{ announcement.grouper.author.userprofile.username }} </p>
            </a>
            {% endfor %}
            {% endfor %}
         </div>
      </div>
      <div class="col s1"></div>
      <div hidden id='message_area' class="col s6 z-depth-4">
         <h5>  Vos Messages </h5>
         <div id="message_list" >


         </div>
         <div class="row "></div>
         <div class="row "></div>
         <div class="row "></div>
         <div id="answer_area">
            <label style='float: right;'>
            <button id='answer'class="waves-effect waves-light btn custom-btn custom-text trigger_message" onclick="answerMessage();">
            <i class="material-icons left">question_answer</i>Répondre</button>
            </label>
         </div>
      </div>
   </div>
   {% endif %}
   <!---ads published by request_user witch have responses -->
   {% if response_to_published_ads|length > 0 %}
   <div class="row ">
      <div id="own_ads_list" class="col s4 z-depth-4">
         <h5> Vos annonces </h5>
         <div class="collection">
            {% regroup response_to_published_ads by musician_announcement as announcement_list %}
            {% for announcement in announcement_list %}
            <div class="collection-item  collection-header">
               <h6>{{ announcement.grouper.title }}</h6>
            </div>
            {% for item in announcement.list %}
            <a href="#" class="collection-item custom-text-link-login " onclick='displayMessages("{{ item.content }}",
               "{{ item.author.userprofile.username }}",
               "{{ item.author.userprofile.pk }}",
               "{{ item.id }}",
               "{{ item.musician_announcement.id }}",
               "#message_published_ads_list",
               "#message_received_area");'>
            Message de {{ item.author.userprofile.username }}
            {{ item.id }}
            </a>
            {% endfor %}
            {% endfor %}
         </div>
      </div>
      <div class="col s1"></div>
      <div hidden id='message_received_area' class="col s6 z-depth-4">
         <h5> Messages reçus </h5>
         <div id="message_published_ads_list" >

         </div>
         <div class="row "></div>
         <div class="row "></div>
         <div class="row "></div>
         <div id="answer_published_ads_area">
            <label style='float: right;'>
            <button  class="waves-effect waves-light btn custom-btn custom-text trigger_message" onclick="answerMessage();">
            <i class="material-icons left">question_answer</i>Répondre</button>

            </label>
         </div>
      </div>
   </div>
   {% endif %}

    <section hidden id="response" >
       <div class="row">
         <div class=" col s6 z-depth-4 offset-s5">
            <h6 id="recipient"> Répondre à </h6>
             <form class="login-form" method="post" action='{% url "announcement:post_message" %}'>
                    {% csrf_token %}
                  <div class="row ">
                     <div class="input-field col s12 card-panel">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea id="message_text" name="message_text" class="materialize-textarea c" data-length="200"></textarea>
                         <div id="pass_info">
                             <input type="hidden" name="m_id" value="{{ first_response.id }}">
                             <input type="hidden" name="m_ads" value="{{ first_response.musician_announcement.id }}">


                         </div>


                     </div>
                       <div style='float: right;' class="row">
                           <div class=" col s12">
                             <button id='send_message' class="waves-effect waves-light btn custom-btn custom-text" type="submit">
                            <i class="material-icons left">send</i>Envoyer</button>
                           </div>
                        </div>
                  </div>
               </form>

</div>
         </div>
    </section>




</main>
{% endblock %}
{% block script %}
<script>
   // function witch get object



   // function to add record message
      //function addRecordMess(message) {
     //  var $mes = $('<div class="message">message</div>').text(message);
      // $('#message_list').append($mes);
     //  }


   // function witch display received messages
    function displayMessages(content, author, author_useprofile_id, id, ads, target, zone_message){
        $(target).empty();
        $(zone_message).show();
        console.log(author);

       // add first message
        var $mes = $('<div class="message">message</div>').text(content);
        var $mes_zone = $(target).append($mes);
        var $link_author = createLinkAuthor(author, author_useprofile_id);
        var $mes_zone = $(target).append($link_author);

        // add response to this message
        var parent_id = id;
        //ajax call to grab all message witch depends of a parent_id
           $.post(
                   "{% url 'announcement:message_to_message' %}",
                   {'parent_message' : parent_id},
                   function(response){
                           $.each(response, function(index, value){
                                  var $mes = $('<div class="message">message</div>').text(value.content);
                                   $(target).append($mes);
                                   var $link_author = createLinkAuthor(value.author, value.author_userprofile_id);
                                   $(target).append($link_author);
                                   });
                       });

       // THIS  IS IMPORTANT // to prevent response to this message we pass the parent_id and parent_ads in the answer_zone
        var $parent_id = $('<input type="hidden" name="m_id" value="">');
        $parent_id.attr("value", id);
        var $parent_ads = $('<input type="hidden" name="m_ads" value="">');
        $parent_ads.attr("value", ads);
        $("#recipient").text("Vous répondez à "+author)
        // empty before to prevent several add on click
        $('#pass_info').empty();
        $('#pass_info').append($parent_id);
        $('#pass_info').append($parent_ads);

        }


   // function to create link to author profile

   function createLinkAuthor(author, author_userprofile_id){
        var $link_author = $('<a href="" class="custom-text-link-login">author</a>').text(author);
        // because we can not get the userprofile id inside the rendered url
        // we must replace it , initial with a dummy number '1'
        var $url = '{% url "core:musician_profile" 1  %}';
        var $good_url = $url.replace('1', author_userprofile_id);
        $link_author.attr("href", $good_url);
        return $link_author;
        }




   // function to manage response to received messages

   function answerMessage(){
    $(".trigger_message").hide();
    $("#response").show();
    }




   $("#answer_message").click(function() {

   $("#response_to_message").show();
   $("#answer_message").hide();
   //empty answer area
   $('#message_text').val('');

   });

   // to manage textarea count lenght
   $(document).ready(function() {
      $('textarea#message_text').characterCounter();
    });




</script>
{% endblock %}
