{% extends 'core/base.html' %}

{% load static %}
{% block content %}
{% include 'core/display_messages.html' %}
<main>
   <div class="container " xmlns="http://www.w3.org/1999/html">
      <div class="row"></div>
      <div class="row"></div>
      <div class="divider"></div>
      <h5 class="header">Annonce</h5>
      <div class="divider"></div>
      <div class="col s7 ">
         <div class="row"></div>
         <div class="row"></div>
         <form action='{#% url "announcement:update_announcement" object.id %#}' method="post" enctype="multipart/form-data" >
            {% include 'announcement/form.html' %}
         </form>
      </div>
   </div>
</main>
{% endblock %}