.nav-custom {

    height: 100px;
    line-height: 100px;

}

.bg-test {
    background-color: bisque;
}

.material-icons {
    font-size: 150px;
    color: #fdca5a;
}

/*.tooltipped {*/
    /*background-color: black;*/
/*}*/

.material-tooltip > .backdrop {
    background-color: black;
    opacity: 100%;
}

.tooltipped{
    opacity: 100;
}

a {
    color : #2f1b40;
}

/**/