.nav-custom {
    height: 200px;
    line-height: 200px;

}

#nav-mobile {
    color : #fdca5a;
    background : #263238;
}

a {
    color : black;
    font-weight: bold;}


a.message {
    color : #ef5350!important;
    font-weight: bold;
}


.collection a {
    color : black;
    font-weight: bold;}


.collection .secondary-content a {
color :white ;
}

.bg-test {
    background-color: white;
}

header i .material-icons  {
    color: white ;
}


.custom-btn {
    background : #263238 !important;
    color: white !important;

}

.custom-bg {
     background-color:  #909091;

}


.custom-label {
    color : #4f5b62!important;
}


.middle  {
    vertical-align : middle
}

nav {
    background : #20252a;

    height : 100px;
}

.logo {
   margin-top : 20px;
}



h1, h2, h3, h4, h5, h6, h7{
   font-family: 'Old Standard TT', serif;
}


footer {
    background-color : #474d52!important;
}

header, main, footer {
      padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
       header, main, footer {
        padding-left: 0;
      }
    }


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.grid {

  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

 grid-gap: 10px;
  grid-template-rows: auto;

}


@media only screen and (max-width: 850px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}


