.nav-custom {

    height: 100px;
    line-height: 100px;

}

.bg-test {
    background-color: #fdb44b;
}

.material-icons {
    color: #fdca5a !important;
}


.custom-text {
     color: #fdca5a !important;
}

.custom-text-link {
    color :  #a21a49 ;
    font-weight: bold;
}

.custom-text-link-login {
    color :  indigo ;
    font-weight: bold;
}



.custom-btn {
    background : #2f1b40 !important;
}

.custom-btn-pink {
    background : #a21a49 !important;
}

.custom-bg {
     background-color: #2f1b40 !important;

}


.custom-label {
    color : #2f1b40 !important;
}

#nav-mobile {
    color : #fdca5a;
}



#delete {
   margin-left: 40px;
}

#add {
    margin-left : 40px;
}

.middle  {
    vertical-align : middle
}

#nav-mobile {
    background : #33313b;
}

header, main, footer {
      padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }





/*.tooltipped {*/
    /*background-color: black;*/
/*}*/

/*.material-tooltip > .backdrop {
  /*  background-color: black;
   /* opacity: 100%;
/*}

/*.tooltipped{
  /*  opacity: 100;
/*}*/

a {
    color : #2f1b40;
}

/**/